<div ng-include="'components/navbar/navbar.html'"></div>


<section style="background:#efefe9;">
  <div class="container">
    <div class="row">
        <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
          <div class="board-inner">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                  <a ui-sref-active="active" ui-sref=".bio" data-toggle="tab" title="" ng-click="slide(0);">
                    <span class="round-tabs one">
                      <i class="fa fa-user-md"></i>
                    </span> 
                  </a>
                </li>

                <li >
                  <a ui-sref-active="active" ui-sref=".education" data-toggle="tab" title="" ng-click="slide(1);">
                    <span class="round-tabs two">
                      <i class="fa fa-graduation-cap"></i>
                    </span> 
                  </a>
                </li>
                <li>
                  <a ui-sref-active="active" ui-sref=".featuers" data-toggle="tab" title="" ng-click="slide(2);">
                    <span class="round-tabs three">
                      <i class="fa fa-info"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a ui-sref-active="active" ui-sref=".address" data-toggle="tab" title="" ng-click="slide(3);">
                    <span class="round-tabs four">
                      <i class="fa fa-map-marker"></i>
                    </span> 
                  </a>
                </li>
                <li>
                  <a ui-sref-active="active" ui-sref=".pictures" data-toggle="tab" title="" ng-click="slide(4);">
                    <span class="round-tabs five">
                      <i class="fa fa-camera-retro"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a ui-sref-active="active" ui-sref=".subscribe" data-toggle="tab" title="" ng-click="slide(5);">
                    <span class="round-tabs six">
                      <i class="fa fa-credit-card"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a ui-sref-active="active" ui-sref=".finish" data-toggle="tab" title="" ng-click="slide(6);">
                    <span class="round-tabs seven">
                      <i class="fa fa-check"></i>
                    </span>
                  </a>
                </li>
<!--                 <div class="liner"></div>
 -->            </ul>
          </div>
          <div class="tab-content" style="">
              <div class="ui-view-container" style="position:relative; min-height:300px; overflow:hidden;">
                <div id="form-views" ng-class="direction" ui-view style=""></div>
              </div>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>
  </div>
</section>

