<style type="text/css">
/* Styles go here */
md-sidenav {
  overflow: visible;
  
}
.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.side-menu .md-button.active {
  color: #FF5722; /* deep-orange 500 */
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.md-button-toggle.toggled {
  background-color: rgba(0, 0, 0, 0.02);
}

.side-menu .md-button-toggle .md-toggle-icon {
  margin: auto 0 auto auto;
  padding-top: 12px;
  width: 15px;
  float: right;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
  width: 100%;
}

.menu-toggle-list {
  background: #0277bd;
  color: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.side-menu menu-toggle span{
  padding-top: 12px;
  padding-bottom: 12px;
}
/*detail page*/
.md-button.md-fab i {
   margin-top: 6px;
}
#details md-card md-card-content {
	padding:0px 0px 0px 7px;
}
#details md-card md-card-content h3 {
	margin-top: 4px;
	margin-bottom: 2px;
}
#details md-card md-card-content p {
	margin-top: 10px;
}

#details md-content md-card md-card-content h3 {
  color: #9B9B9B;
}

@mixin transition($argument) {
    -webkit-transition: $argument;
    -moz-transition: $argument;
    -o-transition: $argument;
    transition: $argument;
}

#details {
  font-weight: 300;
}

#details ul {
  list-style: none;
}

#details ul li {
  padding: 0px 0 5px 0;
}

#details .carousel-wrapper img {
  max-width: 100%;
}

#details .section-wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px
}

#details .carousel {
  margin: 0 auto;
  overflow: hidden;
  position: relative; /* Position set so for absolutely positioned children */
}

#details .carousel-wrapper {
  font-size: 0; /* Remove inline-block white space */
  position: relative; /* Position set so that we can animate the left property */
  left: 0;
  @include transition(left 1s ease);
}

#details .carousel-wrapper > * {
  display: inline-block;
  font-size: 16px; /* Reset the font-size*/
  box-sizing: border-box;
}

#details .carousel-wrapper img {
   display: block;
}

#details .carousel-controls > * {
  position:absolute;
  width: 20px;
  height: 100%;
  background: rgba(255,255,255,0.3);
  z-index: 50;
  cursor: pointer;
}

#details .carousel-controls span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  font-size: 20px;
}

#details .carousel-controls-right {
  right: 0;
}
#mobileContactForm .fa {
  font-size: 1.5em; !important
}
#mobileHome md-input-container {
  padding-bottom: 0px !important;
}
</style>

<div layout="column" ng-controller="MobileMainCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>{{mobileHeader.title()}}</h1>
      </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
           <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">
              <h3>
                <span>Sugar Land Doctors</span>
              </h3>
            </div>
          </md-toolbar>
          <md-content role="navigation">
            <ul class="side-menu">
              <li ng-repeat="section in vm.menu.sections" class="parent-list-item" ng-class="{'parentActive' : vm.isSectionSelected(section)}" ng-style="{'background-color: aqua':section.type === 'toggle'}">
                <h2 class="menu-heading" ng-if="section.type === 'heading'"
                    id="heading_{{ section.name | nospace }}">
                  {{section}}
                </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
              </li>
            </ul>
          </md-content>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="">
                  <ui-view name="content"></ui-view>
            </md-content>
        </div>
    </div>
</div>