<div ng-controller="MobileListCtrl">
	<md-content>
		<md-list>
<!-- 			<md-subheader class="md-no-sticky">Sugar Land {{specialist}}</md-subheader>
 -->		 <md-list-item class="md-2-line" ng-repeat="doctor in doctors" ng-click="goToDetails(doctor, $event)">
		        <img ng-src="{{doctor.profilePicture}}?{{$index}}" class="md-avatar" alt="Dr. {{doctor.firstName}} {{doctor.lastName}} {{doctor.credential}}"/>
		        <div class="md-list-item-text">
		          <h3>Dr. {{doctor.firstName}} {{doctor.lastName}} {{doctor.credential}}</h3>
					<p>
						<span> <i class="fa fa-heart" style="color:red;"></i> {{doctor.stats.likes}} likes</span>
						<span> <i class="fa fa-eye" style="color:#000;"></i> {{doctor.stats.views}} views</span>
					</p>
		        </div>
		        <md-divider ng-if="!$last"></md-divider>
		     </md-list-item>
		</md-list>
	</md-content>
</div>