<div id="details" layout="column" flex layout-fill ng-cloak style="background-color:#F3F3F3;">
	<md-content layout="column" flex style="background-color: #3f51b5;">

      <img ng-src="{{doctorInfo.profilePicture}}" class="md-card-image" alt="{{doctorInfo.firstName}} {{doctorInfo.lastName}} {{doctorInfo.credential}}" style="align-self: center;width: 100px;height: 100px;max-width: 100px;max-height: 100px;border-radius: 50%;border: 5px solid #ffffff;margin-top:10px">
        <h2 class="md-title" style="align-self: center;color:#fff;font-weight:300;">{{doctorInfo.firstName}} {{doctorInfo.lastName}} {{doctorInfo.credential}}</h2>
        <div layout="row" layout-align="center" style="color:#fff;">
			<div flex style="padding:10px; text-align:center;">
				<div flex style="border:#000;"><a style="color:red;" class="fa fa-heartbeat fa-2x faa-pulse animated" aria-label="Likes"    ></a></div>
				<div flex>{{doctorInfo.stats.likes}} Likes</div>
			</div>
			<div flex style="padding:10px;text-align:center;">
				<div flex><a class="fa fa-eye fa-2x" aria-label="Views" ></a></div>
				<div flex>{{doctorInfo.stats.views}} Views</div>
			</div>
		</div>
    </md-content>
	<div style="text-align: center;" layout="row">
	    <md-content class=".md-whiteframe-4dp" flex style="">
	      <p layout-margin >
			<a href="tel:+{{doctorInfo.phone}}" class="md-button md-mini md-fab" aria-label="Phone">
				<i class="fa fa-2x fa-phone"></i>
			</a>
			<a ng-show="doctorInfo.website" href="//{{doctorInfo.website}}" target="_blank" class="md-button md-mini md-fab" aria-label="Website">
				<i class="fa fa-2x fa-link"></i>
			</a>
			<a ng-show="doctorInfo.facebook" href="{{doctorInfo.facebook}}" target="_blank" class="md-button md-mini md-fab" aria-label="Facebook">
				<i class="fa fa-2x fa-facebook"></i>
			</a>
			<a ng-show="doctorInfo.googleplus" href="{{doctorInfo.googleplus}}" target="_blank" class="md-button md-mini md-fab" aria-label="Google Plus">
				<i class="fa fa-2x fa-google-plus"></i>
			</a>
			<a ng-show="doctorInfo.twitter" href="{{doctorInfo.twitter}}" target="_blank" class="md-button md-mini md-fab" aria-label="Website">
				<i class="fa fa-2x fa-twitter"></i>
			</a>
	      </p>
	    </md-content>
    </div>
  	<md-content layout="column" flex style="background-color: #F3F1F1;">
	    <md-card>
			<md-card-content>
				<h3>
					<md-button class="md-fab  md-mini md-primary" aria-label="About {{doctorInfo.firstName}} {{doctorInfo.lastName}}">
			            <i class="fa fa-2x fa-user-md"></i>
			        </md-button> About</h3>
				<p>
					{{doctorInfo.bio}}
				</p>
			</md-card-content>
			<!-- <md-card-footer>
					Card footer
			</md-card-footer> -->
		</md-card>
		<md-card>
			<md-card-content>
				<h3>
					<md-button class="md-fab md-mini md-primary" aria-label="Education">
			          <i style="margin-left: -3px;" class="fa fa-2x fa-graduation-cap"></i>
			        </md-button>
					Education</h3>
				<p>
					<div style="height: 45px;" ng-repeat="education in doctorInfo.educations">
	        			<div class="pull-left" style="">{{education.yearGraduate}}</div>
	        			<div ng-hide="$last" style="width:2px;background-color: #FF4081;height: 100%;float: left;position: relative;left: 11px;top: 12px;"></div>
	        			<div class="pull-left" ng-style="$last && {'left': '1px'}" style="height:3px;width: 3px;border: 3px solid #FF4081;border-radius: 50%;position: relative;padding: 1px;margin: 5px;background-color: #FBFCFD;left: 0px;"></div>
	        			<div class="pull-left" style="padding-bottom: 25px;">
			           		<div class="pull-left" style="">{{education.degree}}&nbsp;</div>
			           		<div class="pull-left"> at {{education.college}}</div>
			           	</div>
		        	</div>
				</p>
				<h3 style="" ng-show="doctorInfo.boardCertifications.length > 0">Board Certifications</h3>
				<p>
					<ul style="">
						<li ng-repeat="certification in doctorInfo.boardCertifications">{{certification}}</li>
					</ul>
				</p>
				<h3 style="" ng-show="doctorInfo.professionalMemberships.length > 0">Professional Membership</h3>
				<p>
					<ul style="">
						<li ng-repeat="professionalMembership in doctorInfo.professionalMemberships">{{professionalMembership}}</li>
					</ul>
				</p>
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-content>
				<h3>
					<md-button class="md-fab md-mini md-primary" aria-label="Hospital Association">
			          <i class="fa fa-2x fa-hospital-o"></i>
			        </md-button>
					Hospital Association</h3>
				<p>
					<ul>
						<li ng-repeat="affiliation in doctorInfo.affiliations | orderBy:'toString()'">{{affiliation}}</li>
					</ul>
				</p>
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-content>
				<h3>
					<md-button class="md-fab md-mini md-primary" aria-label="Insurance">
			          <i class="fa fa-2x fa-clipboard"></i>
			        </md-button>
					Insurance</h3>
				<p>
					<ul>
						<li ng-repeat="insurance in doctorInfo.insurances | orderBy:'toString()'">{{insurance}}</li>
					</ul>
				</p>
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-content>
				<h3>
					<md-button class="md-fab md-mini md-primary" aria-label="Language">
			          <i class="fa fa-2x fa-language"></i>
			        </md-button>
					Language</h3>
				<p>
					<ul>
						<li ng-repeat="language in doctorInfo.languages | orderBy:'toString()'">{{language}}</li>
					</ul>
				</p>
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-content>
				<h3>
					<md-button class="md-fab md-mini md-primary" aria-label="Hours of Operation">
			          <i class="fa fa-2x fa-clock-o"></i>
			        </md-button>
					<span></span> Hours of Operation</h3>
				<p>
					<table class="table" style="margin-left: 20px;">
	            		<tr ng-repeat="workday in doctorInfo.addresses[0].workDays">
	            			<td>{{workday.name}}</td>
	            			<td ng-show="!workday.isOpen">Closed</td>
	            			<td ng-show="workday.isOpen">{{workday.open}} - {{workday.close}}</td>
	            		</tr>
	            	</table>
				</p>
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-content>
				<h3>
					<md-button class="md-fab md-mini md-primary" aria-label="Hours of Operation">
			          <i class="fa fa-2x fa-map-marker"></i>
			        </md-button>
					<span></span> Map</h3>
				<p>
					<div gutter="5" id="mobileMap" style="min-height:300px;width:98%;"></div>
				</p>
			</md-card-content>
		</md-card>
		<md-card ng-show="slideCount > 0">
			<md-card-content>
				<h3>
					<md-button class="md-fab md-mini md-primary" aria-label="Pictures">
			          <i class="fa fa-2x fa-camera-retro"></i>
			        </md-button>
					Pictures</h3>
				<p>
					<div class="section-wrapper">
						<div class="carousel" slide-count="slideCount" mobile-carousel gutter="5" ><!-- ng-cloak -->
							<ul class="carousel-wrapper" ng-style="wrapperProperties" md-swipe-left="updateCurrentSlide(true)" md-swipe-right="updateCurrentSlide(false)"  style="padding-left:1px;">
								<li ng-repeat="slide in slideData" ng-style="slideProperties">
									<img class="slide" ng-src={{slide}} />
								</li>
							</ul>
						</div>
					</div>
				</p>
			</md-card-content>
			<md-card-footer>
					
			</md-card-footer>
		</md-card>
		<md-card>
			<md-card-content>
				<h3>
					<md-button class="md-fab md-mini md-primary" aria-label="Interest">
			          <i class="fa fa-2x fa-thumbs-o-up"></i>
			        </md-button>
					Personal Interest</h3>
				<p>
					<ul>
						<li ng-repeat="personalInterest in doctorInfo.personalInterests | orderBy:'toString()'">{{personalInterest}}</li>
					</ul>
				</p>
			</md-card-content>
		</md-card>
  	</md-content>
</div>