<style type="text/css">
  .navbar-brand{
    font-family: "Helvetica Neue";
    font-weight: 100;
  }
  #navbar-main > ul > li {
    padding: 0 0.778em;
    font-weight: 200;
    font-size: 1em;
    font-family: "Helvetica Neue",'Montserrat', sans-serif;
    cursor: pointer;
  }
  .navbar-default .navbar-nav > li > a {
    color: #000;
    padding: 15px 0px 0px 0px;
  }
  .navbar {
     background-color: #fff;
     color: #000;
     padding: 0.5rem 0;
  }
  .navbar-default .navbar-brand {
     color: #000;
  }
  .navbar a {
    color: #000;
    text-decoration: none;
  }
  .navbar-brand h1 {
    font-size: xx-large;
    line-height: 0rem;
    font-family: "Helvetica Neue";
    font-weight: 100;
  }
  .navbar-brand h1:hover {
    color: #000;
  }

  .navbar-default .navbar-nav > .active > a {
    background-color: #fff;
    border-bottom: 2px solid #333;
  }
  .navbar-default .navbar-nav > li > a {
    color: #000;
  }
  .navbar-default .navbar-nav > .active:hover > a {
    background-color: #fff;
  }
  .navbar-default .navbar-nav > li:hover > a {
    border-bottom: 2px solid #333;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
  }
</style>

<div class="navbar navbar-default" ng-controller="NavbarCtrl"> <!-- navbar-static-top -->
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="margin-top:-10px;margin-bottom:10px;"><h1>Sugar Land Doctor</h1></a>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" style="border-top: none;border-left: none;border-right: none;border-radius:0px;box-shadow:inset 0 0 0 rgba(0, 0, 0, 0);" placeholder="">
        </div>
      </form> -->
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main" style="padding-right:6.5%;">
      <!-- <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isDoctorLoggedIn()" ng-class="{active: isActive('/doctor/login') || isActive('/doctor/reset') || isActive('/doctor/signup')}"><a href="/doctor/login">For Doctors</a></li>
        <li ng-hide="isDoctorLoggedIn()" class="menu-item"><a href="#">Login</a></li>
       <!--  <li ng-show="isDoctorLoggedIn()" ng-class="{active: isActive('/signup/doctor/profile') || isActive('/doctor/profile/')}"><a href="/doctor/profile/bio">Profile</a></li>
        <li ng-show="isDoctorLoggedIn()" ng-class="{active: isActive('/signup/doctor/profile') || isActive('/doctor/profile/')}"><a href="" ng-click="logoutDoctor()">Logout</li> -->
        
<!--         <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>-->        
        <!-- <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li> -->
        <!-- <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
 -->
        <li ng-show="isDoctorLoggedIn()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hello {{getCurrentDoctor().firstName}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" style="text-decoration: none;">
              <li><a href="/dashboard"><span class="fa fa-tachometer"></span> Dashboard</a></li>
              <li><a href="/doctor/profile/bio"><span class="fa fa-user-md"></span> Profile</a></li>
              <li><a href="/changepassword"><span class="fa fa-lock"></span> Change Password</a></li>
              <li><a href="/videocall"><span class="fa fa-video-camera"></span> Video Chat (Coming Soon)</a></li>
              <li class="divider"></li>
              <li><a ng-click="logoutDoctor()" href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>