<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container dashboard">
	<div ui-view style="">
        <div class="row">
            <div class="">
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #0DA571;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-eye"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.views">0</var>
                            <label class="">Views</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #A50D0D;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-heart-o"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.likes">0</var>
                            <label class="">Likes</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #0D88A5;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-phone"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.phone">0</var>
                            <label class="">Calls</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #A10DA5;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-file-code-o"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.website">0</var>
                            <label class="">Website</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            1) Time line (day, week, 1 month, 3 months, 6 months, 1 year, max) <br>
            2) bar chart count group by time of the day ( 6:00 AM, 7:00 AM, ..., 11:00 PM)
        </div>
	</div>
</div>