<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container dashboard">
	<div ui-view style="">
        <div class="row">
            <div class="">
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #0DA571;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-eye"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.views">0</var>
                            <label class="">Views</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #A50D0D;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-heart-o"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.likes">0</var>
                            <label class="">Likes</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #0D88A5;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-phone"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.phone">0</var>
                            <label class="">Calls</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #A10DA5;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-file-code-o"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.website">0</var>
                            <label class="">Website</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 style="text-align: center;font-weight: lighter;">Profile View Activity.</h3>
            <div class="btn-group" style="padding-right:20px;">
                <label class="btn btn-default" ng-model="chartData.period" btn-radio="'week'">7 Days</label>
                <label class="btn btn-default" ng-model="chartData.period" btn-radio="'month'">Month</label>
                <label class="btn btn-default" ng-model="chartData.period" btn-radio="'3months'">3 Months</label>
                <label class="btn btn-default" ng-model="chartData.period" btn-radio="'6months'">6 Months</label>
            </div>
            
            <div
                line-chart
                line-data='viewCountsChartData'
                line-xkey='y'
                line-ykeys='["views"]'
                line-labels='["Views",]'
                line-colors='["#e74c3c"]'>
            </div>

            <h3 style="text-align: center;font-weight: lighter;">Most active Months.</h3>
            <div class="row text-center" style="margin-left: auto;margin-right: auto;width:100%;">
                <div style="margin-left: auto;margin-right: auto;width: 50%;"
                    bar-chart 
                    bar-data='monthCountsChartData'
                    bar-x='y'
                    bar-y='["views"]'
                    bar-labels='["Percent"]'
                    bar-colors='["#1abc9c"]'>
                </div>
            </div>
            <h3 style="text-align: center;font-weight: lighter;">Most active days.</h3>
            <div class="row text-center" style="margin-left: auto;margin-right: auto;width: 80%;">
                <ul style="text-align:center;">
                    <li ng-repeat="data in dayCountsChartData" class="gauge" easy-pie="{{data.options}}" data-percent="{{data.percent}}"><span>{{data.percent}}%</span>{{data.label}}</li>
                </ul>
            </div>
            <h3 style="text-align: center;font-weight: lighter;">Most active hours.</h3>
            <div class="row text-center" style="margin-left: auto;margin-right: auto;width:100%;">
                <div style="margin-left: auto;margin-right: auto;width: 50%;"
                    bar-chart 
                    bar-data='hourCountsChartData'
                    bar-x='y'
                    bar-y='["views"]'
                    bar-labels='["Percent"]'
                    bar-colors='["#FCB322"]'>
                </div>
            </div>
        </div>
	</div>
</div>