<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container dashboard">
	<div ui-view style="">
        <div class="row">
            <div class="">
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #0DA571;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-eye"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.views">0</var>
                            <label class="">Views</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #A50D0D;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-heart-o"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.likes">0</var>
                            <label class="">Likes</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #0D88A5;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-phone"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.phone">0</var>
                            <label class="">Calls</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="hero-widget well well-sm" style="background-color: #A10DA5;color:#fff;">
                        <div class="icon">
                             <i class="fa fa-file-code-o"></i>
                        </div>
                        <div class="text">
                            <var animate-numbers ng-model="stats.website">0</var>
                            <label class="">Website</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            1) Time line (7 week, 1 month, 3 months, 6 months, 1 year, max) <br>
            <br>
            <div
            line-chart
            line-data='[
                { y: "2006", a: 100, b: 90 },
                { y: "2007", a: 75,  b: 65 },
                { y: "2008", a: 50,  b: 40 },
                { y: "2009", a: 75,  b: 65 },
                { y: "2010", a: 50,  b: 40 },
                { y: "2011", a: 75,  b: 65 },
                { y: "2012", a: 100, b: 90 }
            ]'
            line-xkey='y'
            line-ykeys='["a", "b"]'
            line-labels='["Serie A", "Serie B"]'
            line-colors='["#1FB5AD", "rgb(230, 122, 119)"]'>
            </div>

            <h3 style="text-align: center;font-weight: lighter;">Most active Months.</h3>
            <div class="row text-center" style="margin-left: auto;margin-right: auto;width:100%;">
                <div style="margin-left: auto;margin-right: auto;width: 50%;"
                    bar-chart 
                    bar-data='[
                        { y: "Jan", views: 100},
                        { y: "Feb", views: 75},
                        { y: "Mar", views: 50},
                        { y: "Apr", views: 75},
                        { y: "May", views: 50},
                        { y: "Jun", views: 75},
                        { y: "Jul", views: 100},
                        { y: "Aug", views: 100},
                        { y: "Sep", views: 100},
                        { y: "Oct", views: 100},
                        { y: "Nov", views: 100},
                        { y: "Dec", views: 100}
                    ]'
                    bar-x='y'
                    bar-y='["views"]'
                    bar-labels='["Percent"]'
                    bar-colors='["#1abc9c"]'>
                </div>
            </div>
            <h3 style="text-align: center;font-weight: lighter;">Most active days.</h3>
            <div class="row text-center" style="margin-left: auto;margin-right: auto;width: 80%;">
                <ul style="text-align:center;">
                    <li class="gauge" easy-pie="{scaleColor: false,trackColor: 'rgba(208, 208, 208, 0.25)',barColor: 'rgb(158, 18, 158)',lineWidth: 3,lineCap: 'butt',size: 95,animate:3000}" data-percent="83"><span>83%</span>Sun</li>
                  <li class="gauge" easy-pie="{scaleColor: false,trackColor: 'rgba(208, 208, 208, 0.25)',barColor: 'rgba(49, 18, 158, 0.98)',lineWidth: 3,lineCap: 'butt',size: 95,animate:3000}" data-percent="75"><span>26</span>Mon</li>
                  <li class="gauge" easy-pie="{scaleColor: false,trackColor: 'rgba(208, 208, 208, 0.25)',barColor: '#2980b9',lineWidth: 3,lineCap: 'butt',size: 95,animate:3000}" data-percent="15"><span>15</span>Tue</li>
                  <li class="gauge" easy-pie="{scaleColor: false,trackColor: 'rgba(208, 208, 208, 0.25)',barColor: 'rgb(15, 162, 53)',lineWidth: 3,lineCap: 'butt',size: 95,animate:3000}" data-percent="83"><span>50</span>Web</li>
                  <li class="gauge" easy-pie="{scaleColor: false,trackColor: 'rgba(208, 208, 208, 0.25)',barColor: 'rgb(158, 24, 24)',lineWidth: 3,lineCap: 'butt',size: 95,animate:3000}" data-percent="83"><span>50</span>Thu</li>
                  <li class="gauge" easy-pie="{scaleColor: false,trackColor: 'rgba(208, 208, 208, 0.25)',barColor: '#e74c3c',lineWidth: 3,lineCap: 'butt',size: 95,animate:3000}" data-percent="83"><span>50</span>Fri</li>
                  <li class="gauge" easy-pie="{scaleColor: false,trackColor: 'rgba(208, 208, 208, 0.25)',barColor: '#f1c40f',lineWidth: 3,lineCap: 'butt',size: 95,animate:3000}" data-percent="83"><span>50</span>Sat</li>
                </ul>
            </div>
            <h3 style="text-align: center;font-weight: lighter;">Most active hours.</h3>
            <div class="row text-center" style="margin-left: auto;margin-right: auto;width:100%;">
                <div style="margin-left: auto;margin-right: auto;width: 50%;"
                    bar-chart 
                    bar-data='[
                        { y: "12:00 AM", views: 0},
                        { y: "1:00 AM", views: 1},
                        { y: "2:00 AM", views: 3},
                        { y: "3:00 AM", views: 0},
                        { y: "4:00 AM", views: 0},
                        { y: "5:00 AM", views: 0},
                        { y: "6:00 AM", views: 10},
                        { y: "7:00 AM", views: 20},
                        { y: "8:00 AM", views: 30},
                        { y: "9:00 AM", views: 40},
                        { y: "10:00 AM", views: 50},
                        { y: "11:00 AM", views: 60},
                        { y: "12:00 PM", views: 70},
                        { y: "1:00 PM", views: 80},
                        { y: "2:00 PM", views: 90},
                        { y: "3:00 PM", views: 100},
                        { y: "4:00 PM", views: 60},
                        { y: "5:00 PM", views: 50},
                        { y: "6:00 PM", views: 40},
                        { y: "7:00 PM", views: 30},
                        { y: "8:00 PM", views: 20},
                        { y: "9:00 PM", views: 10},
                        { y: "10:00 PM", views: 10},
                        { y: "11:00 PM", views: 10},
                    ]'
                    bar-x='y'
                    bar-y='["views"]'
                    bar-labels='["Percent"]'
                    bar-colors='["#FCB322"]'>
                </div>
            </div>
        </div>
	</div>
</div>