<div ng-include="'components/navbar/navbar.home.html'"></div>
<style type="text/css">
.carousel .carousel-indicators { visibility: hidden; }
.carousel:hover .carousel-indicators { visibility: hidden; }
/*.carousel-control.left, .carousel-control.right {visibility:hidden;}*/


/***********************************/
#name {
  font-family: "Helvetica Neue";
  font-weight: 200;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 17px;
  left: 50px;
  top: -50px;
}
#name > span {
  font-weight: 100;
}
.carouselPictures a {    
    text-decoration: none;
}

.carouselPictures a:hover {
    text-decoration: none;
}
</style>
<main role="main">
      <div id="intro-wrap">
        <div id="intro" class="preload" data-autoplay="0" data-navigation="false" has-pagination="false" data-transition="fade">  
          <div class="intro-item" style="background-color: #70767C;background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/images/backgroundImage1.jpg') no-repeat center top;background-size: 100% 100%;">    
            <div class="intro-mockup-wrapper">    
              <div class="caption-mockup">
                <h2>Sugar Land doctor directory</h2>
                <p>
                  <!-- <input type="text" class="plain" placeholder=""> -->
                  <form id="contact-form" class="contact-section" method="post" action="">
                    <span class="pre-input" ><i class="fa fa-search" style="color:##898989;"></i></span>
                    <!-- ADD TAB HERE FOR DOCTOR, IMAGING, EMERGENCY CARE AND THERAPY -->
                    <input style="padding-left: 40px;" class="plain" type="text" name="name" placeholder="Type the name of the doctor.">
                  </form>
                </p>
              </div><!-- caption -->
            </div><!-- intro-mockup-wrapper -->
          </div>
        </div><!-- intro -->
      </div><!-- intro-wrap -->

      <div id="main">
        <section class="row section call-to-action" style="padding-top: 0%;padding-bottom: 0%;">
          <div class="row-content buffer even" style="padding-top: 0%;">
            <h2 style="font-weight:100">We bring to you list of doctors in Sugar Land area.</h2>
             <p>We bring to you list of doctors in Sugar Land area.</p>
          </div>
        </section>
        <section class="row section greyish">
          <div class="row-content buffer even clear-after">
            <div class="column four">
              <div class="small-icon red"><i class="icon icon-paperfly"></i></div>
              <div class="small-icon-text clear-after">
                <h4>Landing page</h4>
                <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <div class="column four">
              <div class="small-icon red"><i class="icon icon-diamond"></i></div>
              <div class="small-icon-text clear-after">
                <h4>Portfolio</h4>
                <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <div class="column four last">
              <div class="small-icon red"><i class="icon icon-crown"></i></div>
              <div class="small-icon-text clear-after">
                <h4>Resume</h4>
                <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <!-- Randomaly show 10 or 15 doctors with lowest views-->
            <!-- <div scroll-box list="randomDoctors" class="row-content even clear-after"> -->
            <!-- </div> -->
            <div class="section-title">
                <h3 style="font-weight:100;text-align:center">Some of our doctors in Sugar land.</h3>
            </div>
            <carousel interval="99000" disable-animation="true">
              <slide ng-repeat="slideCollection in groupedSlides" active="slide.active">
                <div class="carouselPictures">
                  <a href="#" style="position:relative;text-decoration: none;">
                      <img ng-src="{{slideCollection.image0.image}}" style="">
                        <p id="name">
                          Hello World!<br>
                          <span>Dentist</span>
                        </p>
                  </a>
                  <a href="#" style="position:relative;">
                      <img ng-src="{{slideCollection.image1.image}}" style="">
                        <p id="name">
                          Hello World!<br>
                          <span>Dentist</span>
                        </p>
                  </a>
                  <a href="#" style="position:relative;">
                      <img ng-src="{{slideCollection.image2.image}}" style="">
                        <p id="name">
                          Hello World!<br>
                          <span>Dentist</span>
                        </p>
                  </a>
                  <a href="#" style="position:relative;">
                      <img ng-src="{{slideCollection.image3.image}}" style="">
                        <p id="name">
                          Hello World!<br>
                          <span>Dentist</span>
                        </p>
                  </a>
                  <a href="#" style="position:relative;">
                      <img ng-src="{{slideCollection.image4.image}}" style="">
                        <p id="name">
                          Hello World!<br>
                          <span>Dentist</span>
                        </p>
                  </a>
                </div>
              </slide>
            </carousel>

        </section>

        <section class="row section" style="">

        </section>

      </div><!-- id-main -->
    </main><!-- main -->

    <footer role="contentinfo">
      <div class="row">
        <div class="row-content buffer clear-after">
          <section id="top-footer">
            <div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
              <h4>Menu</h4>
              <ul class="plain">
                <li><a href="home-01.html">Home</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="widget column three">
              <h4>Specialist</h4>
              <ul class="plain">
                <li><a href="#">Dentist</a></li>
                <li><a href="#">ENT</a></li>
                <li><a href="#">Optometrist</a></li>
                <li><a href="#">Dentist</a></li>
                <li><a href="#">ENT</a></li>
                <li><a href="#">Optometrist</a></li>
              </ul>
            </div>                
            <div class="widget column three">
              <h4>Column</h4>
              <p></p>
            </div>        
            <div class="widget meta-social column three">
              <h4>Follow Us</h4>
              <ul class="inline">
                <li><a href="#" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="#" class="facebook-share border-box"><i class="fa fa-facebook fa-lg"></i></a></li>
              </ul>
            </div>                            
          </section><!-- top-footer -->
          <section id="bottom-footer">
            <p class="keep-left">&copy; 2015 Doctors. All Rights Reserved.</p>
            <p class="keep-right">&nbsp;</p>
          </section><!-- bottom-footer -->      
        </div><!-- row-content -->  
      </div><!-- row -->  
    </footer>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->