<div ng-view="doctor.address" class="ltr">
	<div class="row">
	    <form name="forms.address" shake-that autocomplete="off" novalidate submitted="submitted" ng-submit="submit(forms.address)" class="form-horizontal">
          <div class=""><!-- col-md-12 -->
                  <div class="entryForm" style="box-shadow: 0 0 0 rgba(0, 0, 0, 0);padding-left: 30px;padding-right: 30px;padding-bottom: 30px;">
                    <div class="entryFormHeader">
                        <h3>Address</h3>
                    </div>
                    <div class="">
                    	<div id="carousel-example-generic"  class="carousel slide" data-ride="carousel">
					    	<carousel interval="myInterval" disable-animation="true">
						      <slide ng-repeat="address in addresses" active="address.active">
						        <div style="height:300px;">{{address}}</div>
						        <div class="carousel-caption">
						          <h4>&nbsp;</h4>
						          <p>{{address.address}}</p>
						        </div>
						      </slide>
						    </carousel>
					    </div>
                    	<div class='row'>
					        <div class='col-sm-6'>    
					            <div class='form-group' style="padding-left: 20px;padding-right:20px;">
					                 <input type="input" ng-model="item" class="form-control" placeholder="" required >
					            </div>
					        </div>
					        <div class='col-sm-6'>
					            <div class='form-group' style="padding-left: 20px;padding-right:20px;">
					                blah
					            </div>
					        </div>
					    </div>
                  </div>
					<a ui-sref-active="active" ui-sref="doctor.profile.additionalInformation">Prev</a>
						<div class="pull-right">
					<a ui-sref-active="active" ui-sref="doctor.profile.pictures">Next</a>
					</div>
              </div>
          </div>
        </form>
	</div>
</div>