<div ng-view="doctor.bio" class="rtl"><!-- container -->
	<div class="row">
	    <form name="form" shake-that autocomplete="off" novalidate submitted="submitted" ng-submit="submit(form)" class="form-horizontal">
          <div class=""><!-- col-md-12 -->
                  <div class="entryForm" style="box-shadow: 0 0 0 rgba(0, 0, 0, 0);padding-left: 30px;padding-right: 30px;padding-bottom: 30px;">
                    <div class="entryFormHeader">
                        <h3><span class="fa fa-user-md fa-lg pull-right"></span> Create new account</h3>
                    </div>
                    <div class="">
                    	 <div class='row'>
					        <div class='col-sm-6'>    
					            <div class='form-group' style="padding-left: 20px;padding-right:20px;">
					                <input type="input" class="form-control" name="firstName" id="firstName" placeholder="First Name" ng-model="doctor.firstName" required>
					            </div>
					        </div>
					        <div class='col-sm-6'>
					            <div class='form-group' style="padding-left: 20px;padding-right:20px;">
					                <input type="input" class="form-control" name="firstName" id="firstName" placeholder="First Name" ng-model="doctor.firstName" required>
					            </div>
					        </div>
					    </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="input" class="form-control" name="firstName" id="firstName" placeholder="First Name" ng-model="doctor.firstName" required>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-sm-12">
                                <input type="input" class="form-control" name="lastName" id="lastName" placeholder="Last Name" ng-model="doctor.lastName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select class="form-control" name="specialist" id="specialist" placeholder="Specialist" ng-model="doctor.specialist" required>
                                  <option value="" disabled selected>Select your primary practice</option>
                                  <option>Dentist</option>
                                  <option>Optometrist</option>
                                  <option>ENT</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="input" class="form-control" name="phone" id="phone" placeholder="Phone" ng-model="doctor.phone" required>
                            </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="doctor.email" required mongoose-error>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="doctor.password" required>
                            </div>
                        </div>
                  </div>
                  <div class="pull-right">
                      <a ui-sref-active="active" ui-sref="doctor.profile.education">Next</a>
                  </div>
              </div>
          </div>
        </form>
	</div>
</div>