<div ng-view="doctor.education" class="ltr" style="min-width:780px;">
	<div class="row">
	    <form name="forms.education" shake-that autocomplete="off" novalidate submitted="submitted" ng-submit="submit(forms.education)" class="form-horizontal">
          <div class=""><!-- col-md-12 -->
              <div class="entryForm" style="box-shadow: 0 0 0 rgba(0, 0, 0, 0);padding-left: 30px;padding-right: 30px;padding-bottom: 30px;">
                <div class="entryFormHeader" style="padding-bottom:0px;">
                    <h3 style="font-size: 17pt;">Education</h3>
                </div>
                <div class="row">
	        		<div class='col-sm-10'>
	        			<div class='form-group' style="padding-left: 20px;padding-right:20px;">
						        <!-- <div class="timelineEducationBar">
						        	<i class="fa fa-play fa-flip-horizontal" style="left: -10px;position: absolute;top: 3px;"></i><i class="fa fa-play"></i>
						        </div> -->
					        	<div class="" ng-repeat="education in doctor.educations">
					        		<div class="col-sm-12">
					        			<div class="pull-left" style="">{{education.yearGraduate}}</div>
					        			<div ng-class="{'timelineEducationBar':!$last}"></div>
					        			<div class="blurCircle pull-left" style=""></div>
							           	<div class="pull-left" style="padding-bottom: 25px;">
							           		<div class="pull-left" style="">{{education.degree}}&nbsp;</div>
							           		<div class="pull-left"> at {{education.college}}</div>
							           		<div class="pull-left" ng-click="removeEducation($index)">&nbsp;<span style="color:red;" class="fa fa-times"></span></div>
							           	</div>
							           	<div class="clear"></div>
					        		</div>
					        	</div>
	        			</div>
	        		</div>
	        	</div>
			    <div class='row'>
			        <div class='col-sm-4'>
			        	<div class='form-group' style="padding-left: 20px;padding-right:20px;">
			        		<input type="input" class="form-control" name="degree" id="degree" placeholder="Degree, Residency, etc.">
			        	</div>
			        </div>
			        <div class='col-sm-4'>    
			            <div class='form-group' style="padding-left: 20px;padding-right:20px;">
			                <input type="input" class="form-control" name="college" id="college" placeholder="Name of College">
			            </div>
			        </div>
			        <div class='col-sm-2'>    
			            <div class='form-group' style="padding-left: 20px;padding-right:20px;">
			                <input type="input" maxlength="4" ng-minlength="4" class="form-control" name="yearGraduate" id="yearGraduate" placeholder="Year" ng-model="year" valid-number filter="limitTo:4 | number:0">
			            </div>
			        </div>
					<div class='col-sm-2'>
			        	<div class='form-group' style="padding-left: 20px;padding-right:20px;">
			        		<button type="button" class="btn btn-default" ng-click="addEducation()">Add</button>
			        	</div>
			        </div>
			    </div>
			    <div class="entryFormHeader" style="padding-bottom:0px;">
                    <h3 style="font-size: 17pt;">Board Certifications</h3>
                </div>
                <div class="row">
	        		<div class='col-sm-10'>
	        			<div class='form-group' style="padding-left: 20px;padding-right:20px;">
		            		<ul class="list-group" style="margin-bottom:0px;">
								<li class="list-group-item" style="margin-bottom:0px;border-radius:0px;border-style: solid;border-color:#CCCCCC #CCCCCC #fff #CCCCCC; background-color:#fff;" ng-repeat="boardCertification in doctor.boardCertifications" >{{boardCertification}}
									<ul class="list-group-submenu" ng-click="removeBoardCertification($index)">
										<li><span class="fa fa-times"></span></li>
									</ul>
								</li>
		            		</ul>
			            </div>
	        		</div>
	        		<div class='col-sm-2'></div>
	        	</div>
			    <div class='row'>
			        <div class='col-sm-10'>
			        	<div class='form-group' style="padding-left: 20px;padding-right:20px;">
			        		<input type="input" class="form-control" name="boardCertification" id="boardCertification" placeholder="Board Certifications">
			        	</div>
			        </div>
			        <div class='col-sm-2'>
			        	<div class='form-group' style="padding-left: 20px;padding-right:20px;">
			        		<button type="button" class="btn btn-default" ng-click="addBoardCertification()">Add</button>
			        	</div>
			        </div>
			    </div>
			    <div class="entryFormHeader" style="padding-bottom:0px;">
                    <h3 style="font-size: 17pt;">Professional Memberships</h3>
                </div>
                <div class="row">
	        		<div class='col-sm-10'>
	        			<div class='form-group' style="padding-left: 20px;padding-right:20px;">
		            		<ul class="list-group" style="margin-bottom:0px;">
								<li class="list-group-item" style="margin-bottom:0px;border-radius:0px;border-style: solid;border-color:#CCCCCC #CCCCCC #fff #CCCCCC; background-color:#fff;" ng-repeat="professionalMembership in doctor.professionalMemberships">{{professionalMembership}}
									<ul class="list-group-submenu" ng-click="removeProfessionalMembership($index)">
										<li><span class="fa fa-times"></span></li>
									</ul>
								</li>
		            		</ul>
			            </div>
	        		</div>
	        		<div class='col-sm-2'></div>
	        	</div>
			    <div class='row'>
			        <div class='col-sm-10'>    
			            <div class='form-group' style="padding-left: 20px;padding-right:20px;">
			                <input type="input" class="form-control" name="professionalMembership" id="professionalMembership" placeholder="Professional Memberships">
			            </div>
			        </div>
			        <div class='col-sm-2'>
			        	<div class='form-group' style="padding-left: 20px;padding-right:20px;">
			        		<button type="button" class="btn btn-default" ng-click="addProfessionalMemberships()">Add</button>
			        	</div>
			        </div>
			    </div>
		    	<a ui-sref-active="active" ui-sref="doctor.profile.profilePicture">Prev</a>
		    	<div class="pull-right">
				  <a ui-sref-active="active" ui-sref="doctor.profile.additionalInformation">Next</a>
				</div>
              </div>
          </div>
        </form>
	</div>
</div>