<section ng-view="doctor.login" style="">
  <div class="container" ng-controller="doctorLoginCtrl">
      <div class="row">
        <form name="form" login-error shake-that autocomplete="off" novalidate ng-submit="submit(form)" class="form-horizontal">
          <div class="col-md-4 col-md-offset-4">
              <div class="entryForm">
                  <div class="entryFormHeader">
                      <h3>Login for doctors <span class="fa fa-lock fa-lg pull-right"></span></h3>
                  </div>
                  <div ng-show="errors.other" class="form-group has-error">
                          <div class="col-sm-12">
                              <h4 class="help-block has-error error-msg text-center">Invalid Username or Password.</h4>
                          </div>
                      </div>
                  <div class="">
                      <div class="form-group">
                          <div class="col-sm-12">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="doctor.email" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-12">
                              <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="doctor.password" required>
                          </div>
                      </div>
                      <div class="form-group last">
                          <div class="col-sm-12">
                              <button type="submit" class="btn btn-success btn-block">Sign in</button>
                          </div>
                      </div>
                    </div>
                    <div>
                        <a style="" ui-sref-active="active" ui-sref="doctor.resetPassword">Reset Password</a>
                        <a style="" class="pull-right" ui-sref-active="active" ui-sref="doctor.signup">Create an Account</a>
                    </div>
              </div>
          </div>
        </form>
      </div>
  </div>
</section>