<div ng-view="doctor.pictures" class="ltr">
	<div class="row" ng-controller="pictureUploadCtrl">
	    <form name="forms.pictures" shake-that autocomplete="off" novalidate submitted="submitted" ng-submit="submit(form)" class="form-horizontal">
			<div class="col-md-12"><!-- col-md-12 -->
			  <div class="entryForm" style="box-shadow: 0 0 0 rgba(0, 0, 0, 0);padding-left: 30px;padding-right: 30px;padding-bottom: 30px;">
			        <div class="entryFormHeader">
			            <h3>Profile Picture</h3>
			            <span>Don't have pictures? You can always come back and upload them later or contact us at 832-630-4986 and we'll take new pictures and upload them for free.</span>
			        </div>
				    <div class="row">
				    	<div class="col-md-10 col-md-offset-1">
							<div class="carousel slide" data-ride="carousel">
							    <carousel interval="myInterval" disable-animation="true">
							      <slide ng-repeat="slide in pictureUploader.queue" active="slide.active">
							      	<img  style="height: 300px;width:800px;" ng-src="{{slide.image}}" style="margin:auto;">
							      	<div class="carousel-caption">
							          <p>{{slide.text}}</p>
							        </div>
							      </slide>
							    </carousel>
						  	</div>
						</div>
					</div>
					<div class="row" style="padding-bottom:40px;"></div>
					<div class="row">
					    <div class="" nv-file-drop="" uploader="pictureUploader">
					        <div class="col-md-12">
					            
					            <div ng-show="pictureUploader.isHTML5">
					                <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
					                <div nv-file-drop="" uploader="pictureUploader" options="">
					                    <div nv-file-over="" uploader="pictureUploader" over-class="another-file-over-class" class="well my-drop-zone btn-file" style="border: 2px dashed #999999;margin-bottom: 0px;">
					                        Drop file or click here.
					                        <input type="file" nv-file-select="" uploader="pictureUploader"/>
					                    </div>
					                </div>
					         	</div>
					         	<div ng-hide="pictureUploader.isHTML5">
					            	<span class="btn btn-primary btn-file"> Select a picture file
										<input type="file" nv-file-select="" uploader="pictureUploader" multiple/><br/>
									</span>
					         	</div>
					    	</div>
					    </div>
					</div>
					<div style="margin-bottom: 40px;"></div>
					<div class="row">
						<div class="col-md-12">
					        <!-- <div style="">
					            <div class="col-md-10" style="padding-left:0px;">
					                <div class="progress" style="">
					                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': pictureUploader.progress + '%' }"></div>
					                </div>
					            </div>
					             <div class="col-md-2">
					             	<button type="button" class="btn btn-success btn-xs" ng-click="pictureUploader.queue[0].upload()" ng-disabled="pictureUploader.queue[0].isReady || pictureUploader.queue[0].isUploading || pictureUploader.queue[0].isSuccess">
					                    <i class="fa fa-upload"></i> Upload
					                </button>
					             </div>
					        </div> -->
					        <div class="col-md-12" style="margin-bottom: 40px">
					            <p>Pictures: {{ pictureUploader.queue.length }}</p>
					            <table class="table">
					                <thead>
					                    <tr>
					                        <th width="50%">Name</th>
					                        <th ng-show="pictureUploader.isHTML5">Size</th>
					                        <th ng-show="pictureUploader.isHTML5">Progress</th>
					                        <th>Status</th>
					                        <th>Actions</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <tr ng-repeat="item in pictureUploader.queue">
					                        <td>
					                            <strong>{{ item.file.name }}</strong>
					                        </td>
					                        <td ng-show="pictureUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
					                        <td ng-show="pictureUploader.isHTML5">
					                            <div class="progress" style="margin-bottom: 0;">
					                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
					                            </div>
					                        </td>
					                        <td class="text-center">
					                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
					                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
					                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
					                        </td>
					                        <td nowrap>
					                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
					                                <span class="glyphicon glyphicon-upload"></span> Upload
					                            </button>
					                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
					                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
					                            </button>
					                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
					                                <span class="glyphicon glyphicon-trash"></span> Remove
					                            </button>
					                        </td>
					                    </tr>
					                </tbody>
					            </table>
					 
					            <div>
					                <div>
					                    Queue progress:
					                    <div class="progress" style="">
					                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': pictureUploader.progress + '%' }"></div>
					                    </div>
					                </div>
					                <button type="button" class="btn btn-success btn-s" ng-click="pictureUploader.uploadAll()" ng-disabled="!pictureUploader.getNotUploadedItems().length">
					                    <span class="glyphicon glyphicon-upload"></span> Upload all
					                </button>
					                <button type="button" class="btn btn-warning btn-s" ng-click="pictureUploader.cancelAll()" ng-disabled="!pictureUploader.isUploading">
					                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
					                </button>
					                <button type="button" class="btn btn-danger btn-s" ng-click="pictureUploader.clearQueue()" ng-disabled="!pictureUploader.queue.length">
					                    <span class="glyphicon glyphicon-trash"></span> Remove all
					                </button>
					            </div>
					 
					        </div>
					    </div>
					</div>

					<div class="">
						<a ui-sref-active="active" ui-sref="doctor.profile.address">Prev</a>
						<div class="pull-right">
							<a ui-sref-active="active" ui-sref="doctor.profile.subscribe">Next</a>
						</div>
					</div>
			</div>
        </form>
	</div>
</div>